body {
  background: url('../images/carpediem.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bolder;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-align: center;
}

body a {
  text-decoration: none;
}

img {
  text-align: center;
}

/*something that could be put anywhere*/
.container {
  float: center;
  margin: auto;
  max-width: 100%;
  overflow: hidden;
  width: 90%;
}

.container ul {
  color: #000000;
}

ul {
  margin: 0;
  padding: 0;
}

header {
  color: #012169;
  float: center;
  font-size: 50px;
  margin-top: 10px;
  text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
}

header h1 {
  float: center;
  font-size: 20px;
  margin-top: 10px;
}

header nav {
  float: right;
  font-size: 20px;
  margin-top: 10px;
}

header li {
  color: #ffffff;
  display: inline;
  float: left;
  padding: 0 0 0 20px;
}

header li a {
  color: #012169;
}

header li a:hover {
  color: #ffffff;
  text-shadow: -1px 0 #012169, 0 1px #012169, 1px 0 #012169, 0 -1px #012169;
}

input.headerbutton {
  background-color: #012169;
  background-repeat: no-repeat;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  font-weight: bolder;
  height: 40px;
  margin-top: -10px;
  overflow: hidden;
  width: 160px;
}

input.headerbutton:hover {
  background-color: #ffffff;
  color: #00539B;
}

header #logobrand {
  float: left;
  margin-top: 10px;
}

header #logobrand h1 {
  margin: 0;
}

header #logobrand a {
  color: #012169;
  text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
}

header #logobrand a:hover {
  color: #ffffff;
  text-shadow: -1px 0 #012169, 0 2px #012169, 1px 0 #012169, 0 -1px #012169;
}

/* showcase*/

#showcase {
  color: #000000;
  float: center;
  min-height: 350px;
  text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
}

#showcase h1 {
  color: #012169;
  font-size: 75px;
  margin-bottom: 0px;
  margin-top: 0px;
}

#showcase h2 {
  color: #00539B;
  font-size: 30px;
  margin-bottom: 0px;
  margin-top: 0px;
}

#showcase p {
  color: #012169;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 20px;
  margin-top: 20px;
}

#showcase a {
  color: #0000ff;
  font-size: 20px;
  font-weight: bolder;
  text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
}

#showcase a:hover {
  color: #ffffff;
  font-size: 20px;
  text-shadow: -1px 0 #012169, 0 1px #012169, 1px 0 #012169, 0 -1px #012169;
  font-weight: bolder;
}

footer {
  color: #012169;
  font-size: 20px;
}

input.button {
  background-color: #ffffff;
  background-repeat: no-repeat;
  border: none;
  color: #012169;
  cursor: pointer;
  font-size: 20px;
  height: 40px;
  margin-top: 40px;
  overflow: hidden;
  width: 160px;
}

input.button:hover {
  background-color: #012169;
  color: #ffffff;
}

input.clickbutton {
  background-color: #012169;
  background-repeat: no-repeat;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-weight: bolder;
  font-size: 30px;
  height: 40px;
  overflow: hidden;
}

input.clickbutton:hover {
  background-color: #ffffff;
  color: #00539B;
}