* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  margin: 0 auto;
  max-width: 100%;
  padding: 24px;
  text-align: center;
  width: 1024px;
}

body a {
  text-decoration: none;
}

img {
  text-align: center;
}

/*something that could be put anywhere*/
.container {
  margin: auto;
  max-width: 100%;
  width: 90%;
}

header {
  color: #012169;
  font-size: 50px;
  margin-top: 10px;
}

header .container {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header nav {
  align-items: center;
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}

.hero-image {
  max-width: 100%;
}

.hero-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
  margin-top: 48px;
}

.hero-title > * {
  background: #00539B;
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  margin: 5px;
  padding: 3px 24px;
}

.hero-title > span.hero-title__last,
.hero-title > h1 {
  background: #012169;
  font-size: 60px;
  padding: 4px 32px;
}

a.headerbutton {
  background-color: #012169;
  background-repeat: no-repeat;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  font-weight: bolder;
  line-height: 40px;
  overflow: hidden;
  padding: 4px 18px;
}

a.headerbutton--inverse {
  background-color: #ffffff;
  color: #00539B;
}

a.headerbutton:hover {
  background-color: #ffffff;
  color: #00539B;
}

a.headerbutton--inverse:hover {
  background-color: #012169;
  color: #ffffff;
}

.blurb {
  margin: 50px auto;
  max-width: 800px;
}

.body-copy {
  font-size: 20px;
  line-height: 1.56em;
}

.body-copy a {
  color: #0000ff;
  font-weight: bolder;
  text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
}

.body-copy a:hover {
  color: #ffffff;
  font-weight: bolder;
  text-shadow: -1px 0 #012169, 0 1px #012169, 1px 0 #012169, 0 -1px #012169;
}

.actions {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.actions .clickbutton {
  margin-bottom: 10px;
}

footer {
  color: #012169;
  font-size: 20px;
}

input.button {
  background-color: #ffffff;
  background-repeat: no-repeat;
  border: none;
  color: #012169;
  cursor: pointer;
  font-size: 20px;
  height: 40px;
  margin-top: 40px;
  overflow: hidden;
  width: 160px;
}

input.button:hover {
  background-color: #012169;
  color: #ffffff;
}

a.clickbutton {
  background-color: #012169;
  background-repeat: no-repeat;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 30px;
  font-weight: bolder;
  line-height: 40px;
  overflow: hidden;
  padding: 8px 24px;
}

a.clickbutton:hover {
  background-color: #ffffff;
  color: #00539B;
}

.team-and-sponsors {
  display: flex;
  margin: 50px auto;
}

.team-and-sponsors h2 {
  text-align: center;
}

.team {
  flex-basis: 66%;
  margin-top: 0;
}

.sponsors {
  flex-basis: 66%;
  margin-top: 0;
}

.items {
  display: flex;
}

.team .item {
  flex-basis: 100%;
}

.sponsors .item {
  flex-basis: 33.3%;
}

.scotty {
  flex-grow: 1;
  font-size: 18px;
  font-weight: bold;
  padding: 12px;
}

.item {
  flex-grow: 1;
  font-size: 18px;
  font-weight: bold;
  padding: 12px;
}

.item img {
  width: 100%;
}

@media (max-width: 768px) {
  header nav {
    flex-direction: column;
  }

  a.headerbutton {
    font-size: 16px;
  }

  .hero-title > * {
    font-size: 30px;
    margin: 3px;
    padding: 2px 18px;
  }
  
  .hero-title > span.hero-title__last,
  .hero-title > h1 {
    font-size: 40px;
    padding:3px 24px;
  }

  a.clickbutton {
    font-size: 18px;
    line-height: 24px;
  }

  .blurb {
    margin: 50px auto;
    max-width: 800px;
    text-align: left;
  }

  .body-copy {
    font-size: 16px;
  }
}

@media (max-width: 598px) {
  .team-and-sponsors, .items {
    flex-direction: column;
  }
}